@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(8, 212, 185);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(2, 151, 170);
}

body {
  font-family: "Poppins", sans-serif !important;
}

/*************** NAVBAR ***************/
.navbarFirst {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(156, 153, 153);
}

.imgLogo {
}

/*************** MENU LINKS ***************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

#navbarNav {
  float: right;
  justify-content: flex-end;
}

.navbar-nav > li > a {
  margin-right: 2rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
  transition: 0.4s ease-in-out;
  border-radius: 50px;
}

/*************** HEADER ***************/

.home-area {
  width: 100%;
  padding: 100px 0;
  color: rgb(0, 0, 0);
  background: url("./1.jpg");
  background-position: center;
  background-size: cover;
}

.homeCol {
  background: #cfcfcf;
}

.border::before {
  border-left: 4px solid #dceb0c !important;
  border-top: 4px solid #dceb0c !important;
  top: 0 !important;
  width: 84% !important;
  height: 13% !important;
  left: 16% !important;
  right: 0 !important;
  content: "" !important;
  position: absolute !important;
  display: block !important;
  z-index: 20;
}

.border::after {
  border-left: 2px solid #dceb0c;
  border-bottom: 2px solid #dceb0c;
  left: 16%;
  right: 60px;
  bottom: 0;
  height: 13%;
  content: "";
  position: absolute;
  display: block;
  z-index: 20;
}

.carpentry-class {
  font-size: 96px !important;
  color: #dceb0c;
  font-weight: 700;
}

.home-content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
  position: relative;
  padding: 6.2% 30px 7.8% 0%;
}

.home-content h2 {
  font-weight: 300 !important;
}

.home-content::before {
  border-right: 2px solid #dceb0c;
  top: 0;
  right: 0;
  bottom: 60px;
  content: "";
  position: absolute;
  display: block;
}

.home-content::after {
  border-color: transparent transparent #dceb0c transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  display: block;
}

h2 {
  color: #212121;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.12 !important;
  margin-bottom: 1rem !important;
  font-size: 64px !important;
  margin-top: 2.5rem !important;
}

.button2 {
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background: #dceb0c !important;
  color: #212121;
  padding: 1rem 2rem !important;
  font-size: 0.8rem !important;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2rem;
}

.button2:hover {
  color: #dceb0c !important;
  background: #212121 !important;
  transition: all 0.3s;
}

.home-button-field {
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.custom-link {
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.custom-link:hover {
  color: #7a7a7a;
}

.row1 {
  background: url("./1.jpg");
  background-position: center;
  background-size: cover;
  height: 35rem;
  margin-right: 0;
}

@media (max-width: 765px) {
  .row1 {
    height: 10rem;
    width: 100% !important;
  }
}

.row {
  width: 100%;
}

.rowStyle1 {
  background: #313131;
}

.box-1-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: #282828;
  height: 35rem;
}

h1,
h3 {
  color: rgb(255, 255, 255) !important;
}

.pvc-title {
  margin-left: 2rem !important;
  width: 15rem;
}

.pvc-title h1 {
  padding-bottom: 2rem;
  font-size: 60px !important;
  font-weight: 600;
}

.rowButton {
  width: 11rem;
  margin-left: 2rem !important;
  padding-top: 2rem;
}

.rowButton button {
  padding: 0.8rem 0;
}

.home-text-section {
  padding-left: 10rem;
}

.home-text {
  font-size: 1rem;
  padding-left: 5rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.slide-box {
  margin: 2rem 6rem !important;
  height: 5rem;
  width: 10rem;
  background: rgb(0, 255, 255);
  box-shadow: 40px 30px 20px rgb(0 0 0 / 25%);
  padding: 1rem !important;
  justify-content: center;
}

.slide-box a {
  border: 2px solid rgb(16, 66, 233);
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  text-align: center;
  padding-top: 0.5rem;
}

.arrowRight {
  margin-left: 0.5rem;
}

.box-5 {
  background: #282828;
  height: 9rem;
  padding: 2.5rem 0;
}

.bottom-text {
  display: inline;
}

h4 {
  margin-left: 2rem;
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: #636363;
}

.para1 {
  float: right;
  margin-right: 3rem;
  margin-bottom: 0;
  padding-top: 1rem;
}

.p1 {
  color: rgb(0, 255, 255);
}

.p2 {
  color: rgb(255, 255, 255);
}

/*************** ABOUT ***************/
.about-area {
  background: #dbdbdb;
  padding: 100px 0;
  color: rgb(0, 0, 0);
}

.aboutTitle {
  padding-top: 2.5rem;
}

.aboutTitle h1 {
  color: black !important;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.aboutTitle h6 {
  text-align: left !important;
}

.aboutTitle span {
  background: #baff00;
  padding: 0 10px;
  color: #222222;
  display: inline-block;
}

.aboutText {
  margin-top: 30px;
}

.aboutText h3 {
  color: black !important;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: left !important;
}

.aboutText p {
  margin-top: 20px;
  margin-bottom: 4rem;
  width: 30rem;
}

.btnAbout {
  color: black;
  display: inline-block;
  font-weight: 700;
  border: 4px solid;
  min-width: 200px;
  text-align: center;
  padding: 19px 0;
  position: relative;
  background-color: transparent;
  margin-right: 15px;
  z-index: 1;
  margin-bottom: 2rem;
}

.btnAbout:hover {
  color: #000000 !important;
  border: 4px solid #beca0f !important;
  transition: all 0.3s;
}

.btnAbout::before {
  background: #222222;
  position: absolute;
  content: "";
  width: 26px;
  height: 4px;
  right: -15px;
  bottom: 18px;
}

.btnAbout::after {
  background: #222222;
  bottom: 8px;
  position: absolute;
  content: "";
  width: 26px;
  height: 4px;
  right: -15px;
}

a {
  text-decoration: none !important;
}

.aboutImage img {
  background-position: center !important;
  background-repeat: no-repeat, repeat !important;
  background-size: cover !important;
  height: 40rem;
  width: 30rem;
  position: relative;
}

.aboutImage {
  margin-left: 3rem;
}

/*************** SERVICES ***************/
.offer-area {
  background: #f0f0f0;
  padding: 100px 0;
  color: rgb(0, 0, 0) !important;
  justify-content: center;
  text-align: center;
}

h6,
h3 {
  color: black !important;
  text-align: center;
}

.offerTitle p {
  margin-bottom: 39px;
}

.offerHeader {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
}

.justifyCenter {
  justify-content: center;
}

.heading {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

.servicesBox {
  padding: 40px;
  border: 0.1rem solid #acacac;
  margin: 20px;
  position: relative;
}

.servicesBox:hover {
  border: 0.1rem solid rgb(10, 149, 214);
  cursor: pointer;
}

.servicesBox:hover .commonIcons {
  transition: all 0.5s;
  color: rgb(10, 149, 214);
}

.commonIcons {
  font-size: 5rem;
  color: var(--primary-blue);
  margin-bottom: 15px;
}

.servicesBoxHeader {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.servicesBoxPara {
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 300;
}

.columnModal img {
  width: 50%;
}

.machine {
  color: #000000 !important;
}

.columnModal {
  margin: 1rem 1rem;
  justify-content: center;
}

.modalButton {
  border: none;
  padding: 0 0.8rem;
  float: right;
  background: #dceb0c;
  font-size: 2rem;
}

/*************** PROJECTS ***************/
.products-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
}

.line {
  background: #1d1d1d;
  height: 3px;
  width: 40rem !important;
  margin-bottom: 10rem !important;
}

.productHeader {
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin-bottom: 39px;
}

.productBox {
  justify-content: center !important;
  align-items: center !important;
}

.App {
  font-family: sans-serif;
  display: flex;
  height: 20rem;
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  margin: 0 15px !important;
  font-size: 4em;
}

.item1,
.item4 {
  margin-right: 15px !important;
  width: 90%;
}

/*************** PROJECTS ***************/
.clients-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
}
.clientsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0 !important;
}

.items1 {
  width: 15rem !important;
  height: 7rem !important;
}

.itemWintech {
  height: 7rem !important;
}

/*************** FORM ***************/
.form-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
}

.contactForm {
  display: block;
  width: 20rem;
  height: 44px;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  color: #000000 !important;
  font-family: montserrat, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  padding: 10px 0;
  outline: none;
  margin-bottom: 20px;
}

input {
  color: #000000 !important;
}

.colInput {
  padding-left: 0;
  align-items: center;
}

.map {
  padding: 1rem !important;
}

.map iframe {
  width: 35rem;
  height: 30rem;
}

/*************** FOOTER ***************/
.footer-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
}

.footerText {
  color: #8d9297;
  font-weight: 300;
}

.footerText1 {
  line-height: 2;
  font-size: 0.9rem !important;
}

.linkColumn {
  padding-left: 8rem !important;
}

.linkColumn2 {
  padding-left: 3rem !important;
}

.linkColumn h6 {
  text-align: left !important;
}

.footerList li {
  margin-top: 0.5rem;
}

.footerList li a {
  color: #8d9297 !important;
}

.listItem:hover {
  color: #b1e917 !important;
  transition: all 0.8s !important;
}

.footerList {
  margin-top: 1.5rem;
  padding-left: 0 !important;
  list-style-type: none;
}

.textFooterList {
  justify-content: center;
  align-items: center;
}

.contactText {
  margin-bottom: 1.5rem;
  text-align: left !important;
  font-weight: 400;
  color: #5b5b5c !important;
  letter-spacing: 0.2rem;
}

@media (max-width: 765px) {
  .items1 {
    margin-top: 2rem;
  }
}
