@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-gold: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-gold);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #686036;
}

body {
  font-family: "Poppins", sans-serif !important;
}

/*************** NAVBAR ***************/
.navbarFirst {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(156, 153, 153);
}

.navbar {
  width: 100% !important;
}

/*************** MENU LINKS ***************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar,
.navbar-expand-lg {
  width: 100% !important;
  padding: 0.3rem 0 !important;
}

#navbarNav {
  float: right;
  justify-content: flex-end;
}

.navbar-nav > li > a {
  margin-right: 2rem;
  margin-left: 0.75rem;
  color: white !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
  transition: 0.4s ease-in-out;
  border-radius: 50px;
}

.message-section {
  justify-content: center !important;
  align-items: center !important;
}

.imgLogo img {
  width: 5rem;
  padding: 0.3rem !important;
}

.imgLogo {
  margin-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navLink {
  color: black;
}

.navLink:hover {
  color: var(--primary-gold) !important;
}

.navbar-brand {
  padding-left: 2rem;
}

.navbar-toggler {
  color: var(--primary-gold) !important;
  margin-right: 1rem !important;
}

/*************** HEADER ***************/

.home-area {
  width: 100%;
  padding: 100px 0;
  color: rgb(0, 0, 0);
  background: url("./rico1.png");
  background-position: center;
  background-size: cover;
  /*border: 2rem solid rgb(255, 231, 126);*/
}

.border {
  border: none !important;
}

.border::before {
  border-left: 4px solid var(--primary-gold) !important;
  border-top: 4px solid var(--primary-gold) !important;
  top: 0 !important;
  width: 84% !important;
  height: 13% !important;
  left: 16% !important;
  right: 0 !important;
  content: "" !important;
  position: absolute !important;
  display: block !important;
  z-index: 20;
}

.border::after {
  border-left: 4px solid var(--primary-gold) !important;
  border-bottom: 4px solid var(--primary-gold) !important;
  left: 16%;
  right: 60px;
  bottom: 0;
  height: 13%;
  content: "";
  position: absolute;
  display: block;
  z-index: 20;
}

.carpentry-class {
  font-size: 96px !important;
  color: var(--primary-gold) !important;
  font-weight: 700;
}

.ricoP {
  font-size: 30px;
  margin-bottom: 0 !important;
  padding-left: 6rem;
}

.home-content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
  position: relative;
  padding: 6.2% 30px 7.8% 0%;
}

.home-content h2 {
  font-weight: 300 !important;
  margin-top: 0.6rem !important;
}

.home-content::before {
  border-right: 2px solid var(--primary-gold) !important;
  top: 0;
  right: 0;
  bottom: 60px;
  content: "";
  position: absolute;
  display: block;
}

.home-content::after {
  border-color: transparent transparent var(--primary-gold) transparent !important;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  display: block;
}

h2 {
  color: #212121;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.12 !important;
  margin-bottom: 1rem !important;
  font-size: 64px !important;
  margin-top: 2.5rem !important;
}

.button2 {
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background: var(--primary-gold) !important;
  color: #212121;
  padding: 1rem 2rem !important;
  font-size: 0.8rem !important;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2rem;
}

.button2:hover {
  color: var(--primary-gold) !important;
  background: #212121 !important;
  transition: all 0.3s;
}

.home-button-field {
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.custom-link {
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.custom-link:hover {
  color: #7a7a7a;
}

.row {
  width: 100%;
}

.rowStyle1 {
  background: #313131;
}

.box-1-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: #282828;
  height: 35rem;
}

h1,
h3 {
  color: rgb(255, 255, 255) !important;
}

.pvc-title {
  margin-left: 2rem !important;
  width: 15rem;
}

.pvc-title h1 {
  padding-bottom: 2rem;
  font-size: 60px !important;
  font-weight: 600;
}

.rowButton {
  width: 11rem;
  margin-left: 2rem !important;
  padding-top: 2rem;
}

.rowButton button {
  padding: 0.8rem 0;
}

.home-text-section {
  padding-left: 10rem;
}

.home-text {
  font-size: 1rem;
  padding-left: 5rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.slide-box {
  margin: 2rem 6rem !important;
  height: 5rem;
  width: 10rem;
  background: rgb(0, 255, 255);
  box-shadow: 40px 30px 20px rgb(0 0 0 / 25%);
  padding: 1rem !important;
  justify-content: center;
}

.slide-box a {
  border: 2px solid rgb(16, 66, 233);
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  text-align: center;
  padding-top: 0.5rem;
}

.arrowRight {
  margin-left: 0.5rem;
}

.box-5 {
  background: #282828;
  height: 9rem;
  padding: 2.5rem 0;
}

.bottom-text {
  display: inline;
}

h4 {
  margin-left: 2rem;
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: #636363;
}

.para1 {
  float: right;
  margin-right: 3rem;
  margin-bottom: 0;
  padding-top: 1rem;
}

.p1 {
  color: rgb(0, 255, 255);
}

.p2 {
  color: rgb(255, 255, 255);
}

.clientsRow {
  margin-top: 4rem !important;
}

/*************** ABOUT ***************/
.about-area {
  /*  background: url("./rico1.png");
  background-position: center;
  background-size: cover;*/
  padding: 100px 0;
  color: rgb(0, 0, 0);
}

.aboutTitle {
  padding-top: 2.5rem;
}

.aboutTitle h1 {
  color: black !important;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.aboutTitle h6 {
  text-align: left !important;
}

.aboutTitle span {
  background: var(--primary-gold) !important;
  padding: 0 10px;
  color: #222222;
  display: inline-block;
}

.aboutText {
  margin-top: 30px;
}

.aboutText h3 {
  color: black !important;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: left !important;
}

.aboutText p {
  margin-top: 20px;
  margin-bottom: 4rem;
  width: 30rem;
}

.btnAbout {
  color: black;
  display: inline-block;
  font-weight: 700;
  border: 4px solid;
  min-width: 200px;
  text-align: center;
  padding: 19px 0;
  position: relative;
  background-color: transparent;
  margin-right: 15px;
  z-index: 1;
  margin-bottom: 2rem;
}

.btnAbout:hover {
  color: #000000 !important;
  border: 4px solid var(--primary-gold) !important;
  transition: all 0.3s;
}

.btnAbout::before {
  background: #222222;
  position: absolute;
  content: "";
  width: 26px;
  height: 4px;
  right: -15px;
  bottom: 18px;
}

.btnAbout::after {
  background: #222222;
  bottom: 8px;
  position: absolute;
  content: "";
  width: 26px;
  height: 4px;
  right: -15px;
}

a {
  text-decoration: none !important;
}

.aboutImage img {
  height: 40rem;
  width: 80%;
}

.aboutImage {
  margin-left: 3rem;
  background-position: center !important;
  background-repeat: no-repeat, repeat !important;
  background-size: cover !important;
  position: relative;
}

.modalBox {
  display: block;
  height: 5px !important;
  margin-top: 5rem !important;
  position: absolute !important;
  top: 200px !important;
  z-index: 105 !important;
}

/*************** SERVICES ***************/
.offer-area {
  background: url("./components/services1.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  color: rgb(0, 0, 0) !important;
  justify-content: center;
  text-align: center;
}

h6,
h3 {
  color: black !important;
  text-align: center;
}

.offerTitle p {
  margin-bottom: 39px;
}

.offerHeader {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
}

.justifyCenter {
  justify-content: center;
}

.heading {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

.servicesBox {
  padding: 40px;
  border: 0.1rem solid #acacac;
  margin: 20px;
  position: relative;
}

.servicesBox:hover {
  border: 0.1rem solid rgb(10, 149, 214);
  cursor: pointer;
}

.servicesBox:hover .commonIcons {
  transition: all 0.5s;
  color: rgb(10, 149, 214);
}

.commonIcons {
  font-size: 5rem;
  color: var(--primary-blue);
  margin-bottom: 15px;
}

.servicesBoxHeader {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.servicesBoxPara {
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 300;
}

.columnModal img {
  width: 70%;
}

.machine {
  color: #000000 !important;
}

.columnModal {
  margin: 1rem 1rem;
  justify-content: center;
}

.modalButton {
  border: none;
  padding: 0 0.8rem;
  margin-top: 3rem;
  float: right;
  background: var(--primary-gold);
  font-size: 2rem;
}

/*************** PROJECTS ***************/
.products-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
  background: url("./components/products1.png");
  background-position: center;
  background-size: cover;
}

.line {
  background: #1d1d1d;
  height: 3px;
  width: 40rem !important;
  margin-bottom: 10rem !important;
}

.productHeader {
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin-bottom: 39px;
}

.productBox {
  justify-content: center !important;
  align-items: center !important;
}

.App {
  font-family: sans-serif;
  display: flex;
  height: 20rem;
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  margin: 0 15px !important;
  font-size: 4em;
}

.item1,
.item4 {
  margin-right: 15px !important;
  width: 90%;
}

/*************** PROJECTS ***************/
.clients-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
  background: url("./components/clients1.png");
  background-position: center;
  background-size: cover;
}
.clientsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0 !important;
}

.items1 {
  width: 15rem !important;
  height: 7rem !important;
}

.itemWintech {
  height: 7rem !important;
}

/*************** FORM ***************/
.form-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
  background: url("./components/contact1.png");
  background-position: center;
  background-size: cover;
}

.contactForm {
  display: block;
  width: 20rem;
  height: 44px;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  color: #000000 !important;
  font-family: montserrat, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  padding: 10px 0;
  outline: none;
  margin-bottom: 20px;
  background: none;
}

input {
  color: #000000 !important;
}

.colInput {
  padding-left: 0;
  align-items: center;
}

.map {
  padding: 1rem !important;
}

.map-section {
  padding: 50px 0;
}

.map iframe {
  width: 100%;
  height: 25rem;
}

.map2 iframe {
  width: 100%;
  height: 35rem;
}

/*************** FOOTER ***************/
.footer-area {
  padding: 100px 0;
  color: rgb(0, 0, 0);
}

.footerText {
  color: #8d9297;
  font-weight: 300;
}

.footerText1 {
  line-height: 2;
  font-size: 0.9rem !important;
}

.linkColumn {
  padding-left: 8rem !important;
}

.linkColumn2 {
  padding-left: 3rem !important;
}

.linkColumn h6 {
  text-align: left !important;
}

.footerList li {
  margin-top: 0.5rem;
}

.footerList li a {
  color: #8d9297 !important;
}

.listItem:hover {
  color: var(--primary-gold) !important;
  transition: all 0.8s !important;
}

.footerList {
  margin-top: 1.5rem;
  padding-left: 0 !important;
  list-style-type: none;
}

.textFooterList {
  justify-content: center;
  align-items: center;
}

.contactText {
  margin-bottom: 1.5rem;
  text-align: left !important;
  font-weight: 400;
  color: #5b5b5c !important;
  letter-spacing: 0.2rem;
}

/*************** PRODUCTS PAGE ***************/
.products-page {
  width: 100%;
  padding: 100px 0;
  color: rgb(0, 0, 0);
  background: url("./rico1.png");
  background-position: center;
  background-size: cover;
}

.allProducts {
  background: rgb(155, 155, 155);
}

.productH3 {
  padding: 10rem 0 4rem 0;
  font-weight: 800;
}

.products-section3 {
  margin-top: 10rem;
  position: relative;
  padding: 100px 0 !important;
}

.columnSectionRight {
  position: relative;
}

.products-section2 .container {
  position: relative;
}

.productsContent {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  margin-left: 42%;
}

.products-para {
  z-index: 100;
  color: white;
  font-size: 14px;
  line-height: 2;
  padding-right: 3rem;
  margin-bottom: 30px;
}

.productsContent h2 {
  color: white;
  padding-right: 15rem;
  font-weight: 600 !important;
  margin-bottom: 3rem !important;
  margin-top: 0 !important;
}

.productsContent span {
  background: var(--primary-gold) !important;
  padding: 0 10px;
  color: #222222;
  display: inline-block;
  font-weight: 600 !important;
}

.products-section2 {
  padding: 100px 0 !important;
  position: relative;
}

.square {
  content: "";
  position: absolute;
  width: 67%;
  height: 100%;
  right: 0;
  top: 0;
  background: #222222;
}

.commonIconsProducts {
  font-size: 5rem;
  /*color: white;*/
  color: var(--primary-gold) !important;
}

.productsImg1,
.productsImg2,
.productsImg3,
.productsImg4,
.productsImg5 {
  position: absolute;
  width: 50rem;
  height: 35rem;
  left: 0 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.productsImg1 {
  background: url("./components/mašine10.jpg");
}

.productsImg2 {
  background: url("./components/prozori2.jpg");
}

.productsImg3 {
  background: url("./components/ulazna_vrata2.jpg");
}

.productsImg4 {
  background: url("./components/sobna5.jpg");
}

.productsImg5 {
  background: url("./components/kompresori3.jpg");
}

.productHeader2 {
  background: var(--primary-gold);
  padding: 1rem;
  color: #222222;
  display: inline-block;
  font-weight: 800 !important;
  font-size: 3rem;
}

.last-productSection {
  margin-bottom: 8rem;
}

/*************** ABOUT PAGE ***************/
.about-header h3 {
  padding: 4rem 0;
}

.aboutRow::before {
  background: var(--primary-gold);
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin-left: 0;
  position: absolute;
  top: 11rem;
  width: 2px;
}

.aboutCol::before {
  color: #fff;
  content: "\f073";
  display: block;
  font-family: fontawesome;
  position: absolute;
  line-height: 40px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  right: 48%;
  text-align: center;
  top: 15px;
  width: 40px;
  background: var(--primary-gold);
}

.article h3 {
  color: #212121;
  text-align: left !important;
}

.article {
  margin-bottom: 0;
  border: 1px solid #dee2e6;
  margin-right: 4rem !important;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;
}

.article::before {
  border-left: 10px solid #dee2e6;
  right: -10px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  top: 24px;
}

.article::after {
  border-left: 10px solid #fff;
  right: -9px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  top: 24px;
}

.article-introtext {
  color: #8d9297;
  margin-top: 1rem;
  line-height: 2;
}

.article-introtext2 {
  color: #8d9297;
  line-height: 2;
  text-align: right;
}

.aboutCol1 {
  padding-right: 50% !important;
}

.aboutCol2 {
  float: right !important;
  padding-left: 50% !important;
}

.article2 {
  margin-bottom: 0;
  border: 1px solid #dee2e6;
  margin-left: 4rem !important;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;
}

.article2 h3 {
  color: #212121;
  text-align: right !important;
}

.article2::before {
  border-right: 10px solid #dee2e6;
  left: -10px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  top: 24px;
}

.article2::after {
  border-right: 10px solid #fff;
  left: -9px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  top: 24px;
}

/*************** CONTACT PAGE ***************/
.contacts-page {
  padding: 100px 0;
}

.articleContact {
  margin: 50px 0 !important;
  text-align: center;
  padding: 1rem !important;
}

.articleContact p {
  color: #818181;
}

.commonIconsContact {
  margin-bottom: 4rem;
}

.contactHeader2 {
  margin-bottom: 1.5rem;
  color: #474747;
  font-weight: 400;
}

.copyright-text {
  text-align: center;
}

.copyrightRow {
  background: var(--primary-gold);
  width: 100%;
  color: #5a5a5a;
}

.social-media {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #000000;
}

.logo {
  width: 7rem;
}

/*************** MEDIA DEVICES ***************/
@media (max-width: 765px) {
  .items1 {
    margin-top: 2rem;
  }
  .items {
    height: 180px;
  }

  .aboutRow::before {
    display: none;
  }

  .aboutCol::before {
    display: none;
  }

  .aboutCol {
    padding-right: 0 !important;
  }

  .article {
    margin-right: 0 !important;
  }

  .aboutCol::before {
    display: none;
  }

  .aboutCol2 {
    padding-left: 0 !important;
  }

  .article2 {
    margin-left: 0 !important;
  }
  .carpentry-class {
    font-size: 50px !important;
  }
  .custom-link {
    display: block;
  }

  .aboutText p {
    width: 100%;
  }

  .aboutImage {
    margin-left: 0;
  }

  .aboutImage img {
    width: 100% !important;
    height: 35rem;
  }

  .linkColumn {
    padding-left: 0 !important;
    text-align: center !important;
  }

  .linkColumn2 {
    padding-left: 0 !important;
    text-align: center !important;
  }

  .linkColumn h6,
  .linkColumn2 h6 {
    text-align: center !important;
    margin-top: 2rem !important;
  }

  .productsContent {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    margin-left: 0 !important;
  }

  .square {
    width: 100%;
  }

  .productsContent h2 {
    padding-right: 15rem;
    font-weight: 400 !important;
    font-size: 2rem !important;
  }
  .productsImg1,
  .productsImg2,
  .productsImg3,
  .productsImg4,
  .productsImg5 {
    display: none;
  }

  .aboutTitle h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  .aboutText h3 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .linkColumn {
    padding-left: 0 !important;
    text-align: center !important;
  }

  .linkColumn2 {
    padding-left: 0 !important;
    text-align: center !important;
  }
  .linkColumn h6,
  .linkColumn2 h6 {
    text-align: center !important;
    margin-top: 2rem !important;
  }
}
